/*------------------------------------
	@COMPONENTS #FOOTER
------------------------------------*/

.footer {
	border-top: 1px solid $color-border;
	padding: 80px 0;
}

	.footer__title {
		font-size: 64px;
		text-align: center;
		margin-bottom: 0;
	}